// Colours
$redBtnColor: red;
$greenBtnColor: green;
$yellowBtnColor: yellow;
$blueBtnColor: blue;

// Measurements
$btnMargin: 5px;
$leftSlant: 25% 0;
$rightSlant: 0 25%;

@mixin hoverMixin($color) {
  &:hover {
    background: lighten($color, 8%);
  }
}

@mixin playingMixin() {
  &.soundPlaying {
    opacity: 0.7;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.55);
    cursor: not-allowed;
    transform: scale(0.95);
    transition: transform 0.1s ease-in-out;
  }
}

.simonBtn {
  width: calc(50% - (#{$btnMargin} * 2));
  min-width: 150px;
  height: 150px;
  margin: $btnMargin;
  cursor: pointer;
  &.red {
    background: $redBtnColor;
    border-radius: $leftSlant;
    @include hoverMixin($redBtnColor);
    @include playingMixin();
  }
  &.green {
    background: $greenBtnColor;
    border-radius: $rightSlant;
    @include hoverMixin($greenBtnColor);
    @include playingMixin();
  }
  &.yellow {
    background: $yellowBtnColor;
    border-radius: $leftSlant;
    @include hoverMixin($yellowBtnColor);
    @include playingMixin();
  }
  &.blue {
    background: $blueBtnColor;
    border-radius: $rightSlant;
    @include hoverMixin($blueBtnColor);
    @include playingMixin();
  }
}
